<!-- Country Search Input -->
<section class="flex flex-row gap-2 mt-2">
  <app-shared-search
    (valueEmmit)="valueSearch($event)"
    [placeholderSearch]="placeholderSearch"></app-shared-search>
</section>

<!-- Country table -->
<section class="mt-5 w-full">
  <h1 class="text-2x1 font-bold text-center flex items-center justify-center bg-gray-300">Resultado de la busqueda por paises</h1>
  <hr>
  <div class="mt-5">
    <app-shared-table
      [headTable]="headTable"
      [bodyTable]="bodyTable()" *ngIf="bodyTable().length > 0; else noResultSearch"></app-shared-table>
    <ng-template #noResultSearch>
      <p class="bg-base-200"> No hay resultado.</p>
    </ng-template>
  </div>
</section>
