<h2>Reactivos: Básicos</h2>
<hr>

<div class="row">
  <div class="col">

    <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSave()">

      <!-- Campo de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">

          <!-- si myForm no se declara como myForm: FormGroup, si no que se pone como myForm: any o myForm simpelmente -->
<!--          <input type="text"-->
<!--                 class="form-control"-->
<!--                 placeholder="Nombre del producto"-->
<!--                 [formControl]="myForm.controls.name">-->

          <!--          @if(myForm.touched){-->
          <!--            @if( myForm.controls.name.errors?.['required']){-->
          <!--              <span class="form-text text-danger">-->
          <!--                        &lt;!&ndash; Debe de ser de 3 letras &ndash;&gt;-->
          <!--                        Este campo debe ser requerido-->
          <!--                    </span>-->
          <!--            }-->
          <!--            @if( myForm.controls.name.errors?.['minlenght']){-->
          <!--              <span class="form-text text-danger">-->
          <!--                        &lt;!&ndash; Debe de ser de 3 letras &ndash;&gt;-->
          <!--                        Este campo debe ser mayor que {{ myForm.controls.name.errors?.['minlenght'].min  }} caracteres-->
          <!--                    </span>-->
          <!--            }-->
          <!--          }-->

          <!-- declarando myForm como myForm:FormGroup = ... -->
                    <input type="text"
                           class="form-control"
                           placeholder="Nombre del producto"
                           formControlName="name">
          @if( isValidField('name')){
            <span class="form-text text-danger">
                <!-- Debe de ser de 3 letras -->
              {{ getFieldError('name') }}
            </span>
          }
        </div>
      </div>

      <!-- Campo de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input type="number"
                 class="form-control"
                 placeholder="Precio del producto"
                 formControlName="price">
          @if( myForm.touched && isValidField('price')){
            <span class="form-text text-danger">
                <!-- Debe de ser de 3 letras -->
              {{ getFieldError('price') }}
            </span>
          }
        </div>
      </div>

      <!-- Campo de existencias -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencias</label>
        <div class="col-sm-9">
          <input type="number"
                 class="form-control"
                 placeholder="Existencias del producto"
                 formControlName="inStorage">

          @if(  isValidField('inStorage')){
            <span class="form-text text-danger">
                <!-- Debe de ser de 3 letras -->
              {{ getFieldError('inStorage') }}
            </span>
          }
        </div>
      </div>


      <div class="row">
        <div class="col">
          <button type="submit"
                  class="btn btn-primary float-end">
            Guardar
          </button>
        </div>
      </div>



    </form>

  </div>
</div>




<div class="row">
  <div class="col">

    <!-- true:: si el formulario es valido -->
    <span>Valid</span>
    <pre>{{ myForm.valid | json }}</pre>

    <!-- true:: indica si se ha tocado el formulario desde el momento  que se sirvio al usuario-->
    <span>Pristine</span>
    <pre>{{ myForm.pristine | json }}</pre>

    <!-- true:: indica que el usuario no a tocado el formulario-->
    <span>Touched</span>
    <pre>{{ myForm.touched | json }}</pre>

    <!-- valores de todos los campos del formuario -->
    <span>Value</span>
    <pre>{{ myForm.value | json }}</pre>

    <!-- errores de los validadores del form -->
    <span>Errores (sera nulo)</span>
    <pre>{{ myForm.errors | json }}</pre>

    <span>Error Name</span>
<!--    <pre>{{ myForm.controls.name.errors| json }}</pre>-->
    <pre>{{ myForm.controls['name'].errors| json }}</pre>
    <pre>{{ myForm.controls['price'].errors| json }}</pre>
    <pre>{{ myForm.controls['inStorage'].errors| json }}</pre>
    <!-- campo del form -->
    <span>Precio</span>
    <pre>{{ myForm.controls['price'].value| json }}</pre>

    <span>Producto</span>
<!--    <pre>{{ myForm.controls.name.value | json }}</pre>-->
    <pre>{{ myForm.controls['name'].value | json }}</pre>
  </div>
</div>
