<h1 class="text-3xl font-bold font-montserrat">Todos los productos de {{ gender() }}</h1>
<h2 class="text-xl mb-5">Pata todos los gastos</h2>
@if( productResource.isLoading() ){
  <div class=" w-full h-64 flex justify-center items-center border rounded">
    <div class="flex items-center">
      <p class="mr-2">Cargando</p>
      <span class="loading loading-spinner text-accent"></span>
    </div>
  </div>
}@else {
  <div class="grid grid-cols-1 md:grid-cols-2 lg:frid-cols-3 xl:grid-cols-4">

    @if(  productResource.error() ||  productResource.value()?.products?.length === 0){
      <div role="alert" class="alert alert-error">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>Error! Get Products failed successfully.</span>
      </div>
    } @else {
      @for ( product of productResource.value()?.products; track $index){
        <product-card
          [product]="product"
          (idSlugOut)="redirectToProduct($event)"></product-card>
      }
    }

  </div>
}


