<h1 class="text-2xl font-bold">Listado de productos</h1>
<h3 clas="text-lg">
    Todos los productos
    <span class="text-accent">10</span>
</h3>

<div class="divider"></div>

@if( productsResource.isLoading() ){
  <div class="flex justify-center items-center">
    <span class="badge badge-secondary text-xs">Cargando....</span>
  </div>
}
<!-- -->
@else {
  <div class="flex flex-col md:flex-row w-full justify-between gap-4">
    <!-- Div izquierdo: paginación -->
    <div class="justify-start w-full ">
      <shared-pagination
        [pages]="productsResource.value()?.pages ?? 0"
        [currentPage]="paginationService.currentPage()"
      ></shared-pagination>
    </div>

    <!-- Div derecho: botón -->
    <div class="flex w-full justify-end md:justify-end  mt-4 mb-10">
      <a class="btn btn-primary w-full md:w-auto text-center" routerLink="/admin/product/new">
        Nuevo producto
      </a>
    </div>
  </div>




  <!-- Listado -->
  <product-table [productsInput]="productsResource.value()?.products ?? []"></product-table>

}
