<h2>Páginas</h2>
<hr>

<h3 class="mt-3">Reactive Forms</h3>
<ul class="list-group">
  @for( item of reactiveMenuItems; track item.title){
    <li class="list-group-item"
        [routerLink]="item.route"
        routerLinkActive="active">
      {{ item.title }}
    </li>
  }
</ul>

<h3 class="mt-3">Country</h3>
<ul class="list-group">
  @for( item of countryMenuItems; track item.title){
    <li class="list-group-item"
        [routerLink]="item.route"
        routerLinkActive="active">
      {{ item.title }}
    </li>
  }
</ul>

<h3 class="mt-3">Auth</h3>
<ul class="list-group">
  @for( item of authMenuItem; track item.title){
    <li class="list-group-item"
        [routerLink]="item.route"
        routerLinkActive="active">
      {{ item.title }}
    </li>
  }
</ul>

<hr>

<button (click)="switchLang(LOCALE_EN)">English</button>
<button (click)="switchLang(LOCALE_ES)">Español</button>
