<form class="space-y-4 w-full max-w-sm mx-auto mt-10" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <!-- Username or Email -->
  <label class="input input-bordered flex items-center gap-2">
    <!-- 👤 Usuario icono -->
    <svg class="h-[1em] w-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5.121 17.804A9.001 9.001 0 0112 15c2.21 0 4.22.805 5.879 2.137M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
    </svg>
    <input type="text" class="grow" placeholder="Username or email" required
          formControlName="email"/>
  </label>

  <!-- Password -->
  <label class="input input-bordered flex items-center gap-2">
    <!-- 🔒 Candado icono -->
    <svg class="h-[1em] w-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 15v2m0 4h.01M17 8a5 5 0 00-10 0v4H5a2 2 0 002 2h10a2 2 0 002-2h-2V8z" />
    </svg>
    <input type="password" class="grow" placeholder="Password" required
           formControlName="password"/>
  </label>

  <!-- Submit button -->
  <button class="btn btn-primary w-full" type="submit">
    Login
  </button>

  @if(this.hasError()){
    <div role="alert" class="alert alert-error animate-wiggle fixed bottom-5 right-5 w-52">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <span>Por favor, revise la información.</span>
    </div>
  }
  <!-- Links -->
  <div class="text-center text-sm text-gray-500 mt-2">
    <a href="#" class="link">Forgot password?</a> · <a routerLink="/auth/register" class="link">Sign up</a>
  </div>

  @if( isLoading() ){
    <div class="text-center text-sm text-gray-500 mt-2">
      <span class="loading loading-spinner text-accent"></span>
    </div>
  }
</form>


