<h1>DragonBall Page</h1>
<hr>

<section class="row">
  <div class="col-12 col-sm-6">
    <h3>Agregar:</h3>
    <input type="text" class="form-control" placeholder="Nombre" />
    <input type="number" class="form-control" placeholder="Poder"/>
    <button class="mt-2 btn btn-primary">Agregar</button>
  </div>

  <div class="col-12 col-sm-6">
    <h3>Listado</h3>
    <ol>
      @for ( person of getPerson();track  person.name; let idx=$index, e = $even, o = $odd ){
        <li> {{ 'position in array: '+idx +'(par: '+e+',impar: '+o+')'+': Nombre'+ person.name + ', Poder' + person.power }}</li>
      } @empty {
        <li>There are not persons</li>
      }
    </ol>
  </div>
</section>
