<h1>DragonBall Page</h1>
<hr>

<section class="row">
  <div class="col-12 col-sm-6">
    <h3>Agregar:</h3>
    <input type="text" class="form-control" placeholder="Nombre" />
    <input type="number" class="form-control" placeholder="Poder"/>
    <button class="mt-2 btn btn-primary">Agregar</button>
  </div>

  <div class="col-12 col-sm-6">
    <h3>Listado</h3>
    <ol>
      @for ( character of getCharacters();track  character.name; let idx=$index, e = $even, o = $odd ){
        <li> {{ 'position in array: '+idx +'(par: '+e+',impar: '+o+')'}} <br>
          Nombre: <span>{{  character.name  }} </span> -
          <!-- forma tradicional -->
          <!-- Poder: <span class="text-danger"> {{ character.power }} </span> -->
          <!-- uso de "(bind)" > class.nombre-clase="condicion" -->
          @if( character.power > 150){ <!-- ejemplo de la directiva if === *ngIf="character.power > 150" -->
            Poder: <span [class.text-danger]=" character.power > 300"
                         [class.text-warning]=" character.power < 300" > {{ character.power }} </span>
          }
          <!-- uso de la directiva [ngClass] -->
          <!--
          Poder: <span [ngClass]="{
            'text-danger':character.power>300,
            'text-warning':character.power < 300}"
          > {{ character.power }} </span>
          -->
          <!-- uso de la directiva [ngClass] y señales computadas -->
          <!--
          Poder: <span [ngClass]="powerClasses()"> {{ character.power }} </span>
          -->

        </li>
      } @empty {
        <li>There are not persons</li>
      }
    </ol>
  </div>
</section>
