<!-- Slider main container -->
<div class="swiper" #swiperDiv>
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    @for ( image of images(); track $index){
      <img class="swiper-slide" [src]="image | productImage"/>
    } @empty {
      <img class="swiper-slide" [src]="null | productImage"/>
    }
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>

<div class="text-sm text-gray-500 mb-2">
  Las imágenes se remocineda tener un tamaño de 600x600px y un peso máximo de 1MB.
</div>
