<!-- Country Search Input -->
<section class="flex flex-row gap-2 mt-2">
  <app-shared-search
    (valueEmmit)="this.countrySignal.set($event)"
    [placeholderSearch]="placeholderSearch"></app-shared-search>
</section>

<!-- Country table -->
<section class="mt-5 w-full">
  <h1 class="text-2x1 font-bold text-center flex items-center justify-center bg-gray-300">Resultado de la busqueda por paises</h1>
  <hr>
  <div class="mt-5">
    @if ( this.countryResource.error()){
      <div class="mt-5">
        <p class="bg-error h-20"> {{ this.countryResource.error() }}</p>
      </div>
    } @else {
      <app-shared-table
        [headTable]="headTable"
        [bodyTable]="countryResource.value()!" *ngIf="countryResource.hasValue(); else noResultSearch"></app-shared-table>
      <ng-template #noResultSearch>
        @if( this.countryResource.isLoading() ){
          <p class="bg-base-200"> Buscando ... </p>
        }@else{
          <p class="bg-base-200"> No hay resultado.</p>
        }
      </ng-template>
    }
  </div>
</section>
